<script src="{{ app.path }}/assets/js/libs/bootstrap.bundle.min.js"></script>
<script src="{{ app.path }}/assets/js/libs/jquery.magnific-popup.min.js"></script>
<script src="{{ app.path }}/assets/js/libs/flash.min.js"></script>

<script src="{{ app.path }}/assets/js/app/app.js"></script>
<script src="{{ app.path }}/assets/js/app/utils/api.js"></script>
<script src="{{ app.path }}/assets/js/app/components/ui.js"></script>
<script src="{{ app.path }}/assets/js/app/components/sidebar.js"></script>
<script src="{{ app.path }}/assets/js/app/components/search.js"></script>
<script src="{{ app.path }}/assets/js/app/components/forms.js"></script>
<script type="module" src="{{ app.path }}/assets/js/app/components/documents/index.js"></script>
<script type="module" src="{{ app.path }}/assets/js/app/components/documents/preview/index.js"></script>
<script type="module" src="{{ app.path }}/assets/js/app/components/documents/download/index.js"></script>
<script type="module" src="{{ app.path }}/assets/js/app/components/subscriptions/index.js"></script>
<script type="module" src="{{ app.path }}/assets/js/app/components/auth/index.js"></script>
<script type="module" src="{{ app.path }}/assets/js/app/index.js"></script>




<footer>
    <div class="col-md-12 mt-3">
        <nav class="navbar navbar-expand-md navbar-light bg-light p-3">
            <p><sub class="text-muted">Шаблоны документов по кадрам &copy; {{ "now"|date("Y") }}</sub></p>

        </nav>
    </div>


</footer>
