{% extends 'layouts/base.twig' %}

{% block title %}
    {{ seo_title() }}
{% endblock %}
{% block description %}
    {{ seo_description() }}
{% endblock %}
{% block keywords %}
{% endblock %}
{% block content %}
    <div class="dashboard-content px-3 pt-4" data-page="documents-page">
        <h1 class="fs-3">{{ direction.name }}. Шаблоны</h1>

            {%  if direction.name == 'Должностные инструкции' %}
        <p class="mt-3">
            Должностные инструкции - это основной организационно-правовой документ, определяющий задачи, функции, основные обязанности и ответственность работника согласно занимаемой должности. Должностная инструкция является неотъемлемым инструментом регулирования трудовых отношений.
        </p>
        <p class="mt-3">
            Основой для разработки должностных инструкций служат квалификационные характеристики, содержащиеся в Едином квалификационном справочнике (письмо Роструда от 09.08.2007 № 3042-6-0).
        </p>
        <p>
            Ниже приведена статическая страница с образцами должностных инструкций. Чтобы воспользоваться такими функциями как <b>сортировка</b>, <b>фильтр</b>, <b>поиск</b> - переключитесь на "Интерактивную таблицу".
        </p>
            {% else %}

            {% endif %}

        <p>
            <a href="#" id="show-dynamic" class="btn btn-primary" data-direction="{{ direction.id }}">Интерактивная таблица</a>
        </p>

        {% include 'pages/documents/table.twig' %}
        <p>
            {% if paginator.getTotalPages() > 1 %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if paginator.hasPreviousPage() %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ paginator.getCurrentPage() - 1 }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for page in paginator.getPages() %}
                    <li class="page-item {{ page == paginator.getCurrentPage() ? 'active' : '' }}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}

                {% if paginator.hasNextPage() %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ paginator.getCurrentPage() + 1 }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        </p>
    </div>

{% endblock %}
