<script src="{{ app.path }}/assets/js/libs/bootstrap.bundle.min.js"></script>
<script src="{{ app.path }}/assets/js/libs/jquery.magnific-popup.min.js"></script>
<script src="{{ app.path }}/assets/js/libs/flash.min.js"></script>

<script src="{{ app.path }}/assets/js/app/admin_app.js"></script>
<script src="{{ app.path }}/assets/js/app/utils/api.js"></script>
<script src="{{ app.path }}/assets/js/auth.js"></script>
<script src="{{ app.path }}/assets/js/app/components/ui.js"></script>
<script src="{{ app.path }}/assets/js/app/components/sidebar.js"></script>
<script src="{{ app.path }}/assets/js/app/components/admin/AdminForms.js"></script>
<script type="module" src="{{ app.path }}/assets/js/app/components/admin/documents/index.js"></script>
<script src="{{ app.path }}/assets/js/app/components/admin/user.js"></script>

<footer>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        &copy; {{ "now"|date("Y") }}
    </nav>

</footer>
