{% extends '/layouts/email.twig' %}


{% block title %} {{ subject }} {% endblock %}
{% block content %}
<h1>{{ subject }}</h1>
<p>
    Платеж успешно проведен. Ваш план подписки обновлен.
</p>
<p>Сумма: {{ amount }}</p>
<p>
    {% set period = (slug == 'monthly') ? 30 : 365 %}
    План подписки:
    {{ (slug == 'monthly') ? 'Ежемесячный' : 'Годовой' }}.
    Действует до {{ 'now' | date_modify('+' ~ period ~ ' days')|date('d.m.Y') }}.
    Неограниченный доступ к документам сайта.
</p>
{%  endblock %}
